# -*- coding: utf-8 -*-

import os

DBHOST = os.environ.get('SECRETS_DBHOST', 'localhost')
DBPORT = int(os.environ.get('SECRETS_DBPORT', 27017))
DBNAME = os.environ.get('SECRETS_DBNAME', 'toxicsecrets')
DBUSER = os.environ.get('SECRETS_DBUSER')
DBPASS = os.environ.get('SECRETS_DBPASS')


DATABASE = {'host': DBHOST,
            'port': DBPORT,
            'db': DBNAME,
	    'username': DBUSER,
	    'password': DBPASS}

ADDR = '0.0.0.0'
PORT = os.environ.get('SECRETS_PORT', 9745)

ACCESS_TOKEN = os.environ.get('SECRETS_ENCRYPTED_TOKEN', '{{ACCESS_TOKEN}}')
CRYPTO_KEY = os.environ.get('SECRETS_CRYPTO_KEY', "{{CRYPTO_KEY}}")

USE_SSL = os.environ.get('SECRETS_USE_SSL', '0') == '1'
CERTFILE = os.environ.get('SECRETS_CERTFILE')
KEYFILE = os.environ.get('SECRETS_KEYFILE')
